/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2015, 9:55:09 AM
    Author     : thomi
*/

.mce-i-tablebuttonrowbefore {
    background: url('../img/tablebutton_rowbefore.png');
    height: 16px;
    width: 16px;
}

.mce-i-tablebuttonrowafter {
    background: url('../img/tablebutton_rowafter.png');
    height: 16px;
    width: 16px;
}

.mce-i-tablebuttoncolbefore {
    background: url('../img/tablebutton_colbefore.png');
    height: 16px;
    width: 16px;
}

.mce-i-tablebuttoncolafter {
    background: url('../img/tablebutton_colafter.png');
    height: 16px;
    width: 16px;
}

.mce-i-tablebuttonrowdelete {
    background: url('../img/tablebutton_rowdelete.png');
    height: 16px;
    width: 16px;
}

.mce-i-tablebuttoncoldelete {
    background: url('../img/tablebutton_coldelete.png');
    height: 16px;
    width: 16px;
}

.mce-i-tablebuttonmergecells {
    background: url('../img/tablebutton_mergecells.png');
    height: 16px;
    width: 16px;
}

.mce-i-tablebuttonsplitcell {
    background: url('../img/tablebutton_splitcell.png');
    height: 16px;
    width: 16px;
}